@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --secondary-bg-color: #121212;
  --main-bg-color: #1e1e1f;
  --text-color: #fafafa;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
